/* .btnModal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
} */

#modalBody {
    height: 750px;
    margin-left: -3em;
    margin-right: -3em;
    background-image: url(../data/QDeo.gif);
    background-size: cover;
    background-position: left;
}

#monster1 {
    height: 600px;
    width: 100%;
    background-image: url(../data/wanted.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#monster2 {
    height: 600px;
    width: 100%;
    background-image: url(../data/wanted.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.monstre1 {
    height: 13.9em;
    width: 19em;
    position: relative;
    top: 9.3em;
    left: 4em;
    background-color: transparent;
}

.monstre1:hover {
    background-color: transparent;
}

.monstre2 {
    height: 13.9em;
    width: 19em;
    position: relative;
    top: 9.3em;
    left: 4em;
    background-color: transparent;
}

.monstre2:hover {
    background-color: transparent;
}

.name1 {
    position: absolute;
    top: 9em;
    left: 2.7em;
}

.name2 {
    position: absolute;
    top: 8.9em;
    left: 2.9em;
}

h4 {
    background-color: rgba(0, 0, 0, 0.8);
}