#monsterCard {
    height: 30em;
    width: 40em;
    position: absolute;
    top: 15em;
    right: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#monsterCard img {
    height: 25em;
    width: 30em;
}

.lifeBar {

    width: 100%;
}